$primary-color: #B88E2F;
$secondary-color: #FFF3E3;
$heading-primary-color: #333333;
$heading-secondary-color: #3A3A3A;
$text-color: #616161;
$text-primary-color: #666666;
$text-secondary-color: #898989;
$gray: #9F9F9F;
$black: #000000;
$white: #ffffff;
$fw-700:700;
$fw-600:600;
$fw-500: 500;
$fw-400: 400;
$font-primary: 'Poppins', sans-serif;
$container-width: 1500px;